<configuration>

    <property name="pattern" value="%date{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%-25.25thread{24}] %-40.40logger{39}: %msg %throwable %n"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/DRUMTest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 1 days' worth of history -->
            <maxHistory>5</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <logger name="at.rovo" level="info" />

    <logger name="at.rovo.drum.DrumImpl" level="trace"/>
    <logger name="at.rovo.drum.InMemoryMessageBroker" level="trace"/>
    <logger name="at.rovo.drum.DiskBucketWriter" level="trace"/>
    <logger name="at.rovo.drum.DiskFileMerger" level="trace"/>
    <logger name="at.rovo.drum.datastore.DataStoreMerger" level="trace"/>
    <logger name="at.rovo.drum.DrumEventDispatcherImpl" level="debug"/>

    <logger name="at.rovo.drum.util.DrumExceptionHandler" level="debug"/>

    <logger name="at.rovo.drum.DrumImplTest" level="debug"/>
    <logger name="at.rovo.drum.utils.LogFileDispatcher" level="debug"/>


    <root level="info" additivity="false">
        <appender-ref ref="Console"/>
    </root>

</configuration>