<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
     ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/DRUMTest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 1 days' worth of history -->
            <maxHistory>5</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS}  %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="at.rovo" level="info" />

    <logger name="at.rovo.drum.DrumImpl" level="trace"/>
    <logger name="at.rovo.drum.InMemoryMessageBroker" level="trace"/>
    <logger name="at.rovo.drum.DiskBucketWriter" level="trace"/>
    <logger name="at.rovo.drum.DiskFileMerger" level="trace"/>
    <logger name="at.rovo.drum.datastore.DataStoreMerger" level="trace"/>
    <logger name="at.rovo.drum.DrumEventDispatcherImpl" level="debug"/>

    <logger name="at.rovo.drum.util.DrumExceptionHandler" level="debug"/>

    <logger name="at.rovo.drum.DrumImplTest" level="debug"/>
    <logger name="at.rovo.drum.utils.LogFileDispatcher" level="debug"/>


    <root level="info" additivity="false">
        <appender-ref ref="Console"/>
    </root>

</configuration>